.section-expandable {
  margin-bottom: 2em;
  h2, h3 {
    background-color: $lightest-gray; // #eee;
    color: $tu-black; // #333;
    margin-bottom: 0;
    padding: 1rem;
    width: 100%;
    border: 3px solid #1a9682; // #a7c2ac;
    border-radius: 3px;
  }
  div {
    width: 100%;
    padding: 1rem;
    background-color: $lightest-gray; //#f0f0f0;
    border: 3px solid $lightest-gray; //#f0f0f0;
  }
  p {
    width: 100%;
    background-color: $lightest-gray; //#f0f0f0;
    border: 3px solid $lightest-gray; //#f0f0f0;
    margin-top: 0;
  }
}

.btn-expander { /* button styles */
  font-size: 1.6rem;
  background-color: $lightest-gray; // #eee; // It went rogue without a color here
  border: none;
  padding: 1rem 0;
  .fas {
    color: #1a9682;
  }
}

.hide-section {
  display: none;
}

.show-section {
  display: block;
}
