<footer class="grid-x grid-padding-x bg-darker txt-lightest" role="contentinfo">
<div class="cell small-12"><p class="text-center"><br>Institute on Disabilities at <a href="https://www.temple.edu">Temple University</a>, <a href="https://education.temple.edu/">College of Education</a><br><em><a href="https://www.aucd.org/template/page.cfm?id=667">University Center for Excellence in Developmental Disabilities Education, Research and Service</a></em></p></div>

  <!--<hr class="hr-slim">-->
  <!--<div class="grid-x grid-padding-x">-->
    <div class="cell small-8 small-offset-2 medium-4 medium-offset-0 large-4 large-offset-1">
      <h4 class="hr-hint subheader">Find Us</h4>
        <p class="footer-text"><svg class="svg-icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg> Institute on Disabilities<br>1755 N. 13th Street<br>Student Center Room 411S<br>Philadelphia, PA 19122 </p>
        <p><a href="mailto:iod@temple.edu"><svg class="svg-icon-envelope-solid"><use xlink:href="#icon-envelope-solid"></use></svg> iod@temple.edu</a></p>
        <p class="footer-text">215-204-1356 Voice <svg class="svg-icon-phone-volume"><use xlink:href="#icon-phone-volume"></use></svg><br>215-204-1805 TTY <svg class="svg-icon-tty"><use xlink:href="#icon-tty"></use></svg><br><br>
        <svg class="svg-icon-clock-solid"><use xlink:href="#icon-clock-solid"></use></svg> Monday - Friday, 9 - 5<br>
        <a href="https://www.temple.edu/maps-and-directions"><svg class="svg-icon-map-solid"><use xlink:href="#icon-map-solid"></use></svg> Maps and Directions</a></p>
    </div>
  <!--</div>-->

<div class="cell small-8 small-offset-2 medium-4 medium-offset-0 large-3">
    <h4 class="hr-hint subheader">Connect</h4>
    <!--<hr class="hr-slim">-->
    <ul class="menu vertical footer-links">
    <li><a href="{{root}}contact/"><svg class="svg-icon-address-book-solid"><use xlink:href="#icon-address-book-solid"></use></svg> Contact Us</a></li>
    <li><a href="https://sites.temple.edu/iodforms/join-mailing-list/"><svg class="svg-icon-envelope-open-solid"><use xlink:href="#icon-envelope-open-solid"></use></svg> Join Mail List</a></li>
    <li><a href="{{root}}opportunities"><svg class="svg-icon-users"><use xlink:href="#icon-users"></use></svg> Careers</a></li>
    <li><a href="https://disabilities.temple.edu/sitemap/"><svg class="svg-icon-sitemap"><use xlink:href="#icon-sitemap"></use></svg> Site Map</a></li>
    <li><a href="https://disabilities.temple.edu/news/rss.xml"><svg class="svg-icon-rss-solid"><use xlink:href="#icon-rss-solid"></use></svg> RSS</a></li>
  </ul><br>
  </div>
  <div class="cell small-8 small-offset-2 medium-4 medium-offset-0 large-3">
    <h4 class="hr-hint subheader">Links</h4>
    <!--<hr class="hr-slim">-->
    <ul class="menu vertical footer-links">
    <li><a href="https://disabilities.temple.edu/espanol/">Espa&ntilde;ol</a></li>
    <li><a href="https://education.temple.edu/">College of Education</a></li>
    <li><a href="https://www.temple.edu/">Temple University</a></li>
    <li><a href="https://sites.temple.edu/staff/">IOD Login</a></li>
    <li><a href="https://www.temple.edu/privacy-statement/">Privacy Statement</a></li>
    <li><a href="https://www.temple.edu/about/temple-university-accessibility-statement/">Accessibility</a></li>
  </ul><br>
  </div>

  <div class="cell small-12"><p class="text-center">

    <!--<a href="https://twitter.com/IODTempleU"><span class="fab fa-twitter"></span> Twitter</a> |  <a href="https://www.facebook.com/IODTempleU"><span class="fab fa-facebook"></span> Facebook</a>-->

  <a href="https://twitter.com/IODTempleU" aria-label="Visit us on Twitter"><svg class="svg-icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a>

  <a href="https://www.facebook.com/IODTempleU" aria-label="Find us on Facebook"><svg class="svg-icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a>

  <a href="https://www.youtube.com/channel/UCDO7TX_RzCh91DrlwtWTvuQ" aria-label="Visit us on YouTube"><svg class="svg-icon-youtube"><use xlink:href="#icon-youtube"></use></svg></a>

  <a href="https://www.instagram.com/iodtemple/" aria-label="Visit us on Instagram"><svg class="svg-icon-instagram"><use xlink:href="#icon-instagram"></use></svg></a>


  </p></div>

  <div class="cell small-12 layout-{{layout}}">
    <p class="text-center hr-hint">{{> copyright-line}}</p>
    {{#if special-footer}}
    <!-- Look to front matter for the special footer Handlebars variable marked true -->
      <p>This footer is really special!</p>
    {{/if}}
    <!--<hr>-->
  </div>
</footer>
