<footer class="grid-x grid-padding-x bg-darker txt-lightest" role="contentinfo">
<div class="cell small-12"><p class="text-center"><br>Institute on Disabilities at <a href="https://www.temple.edu">Temple University</a>, <a href="https://education.temple.edu/">College of Education</a><br><em><a href="https://www.aucd.org/template/page.cfm?id=667">University Center for Excellence in Developmental Disabilities Education, Research and Service</a></em></p></div>

  <!--<hr class="hr-slim">-->
  <!--<div class="grid-x grid-padding-x">-->
    <div class="cell small-8 small-offset-2 medium-4 medium-offset-0 large-4 large-offset-1">
      <h4 class="hr-hint subheader">Find Us</h4>
        <p class="footer-text"><svg class="svg-icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg> Institute on Disabilities<br>1755 N. 13th Street<br>Student Center Room 411S<br>Philadelphia, PA 19122 <br><svg class="svg-icon-clock-solid"><use xlink:href="#icon-clock-solid"></use></svg> Monday - Friday, 9 - 5</p>
        <p class="footer-text">215-204-1356 Voice <svg class="svg-icon-phone-volume"><use xlink:href="#icon-phone-volume"></use></svg><br>215-204-1805 TTY <svg class="svg-icon-tty"><use xlink:href="#icon-tty"></use></svg><br>
        <a href="mailto:iod@temple.edu"><svg class="svg-icon-envelope-solid"><use xlink:href="#icon-envelope-solid"></use></svg> iod@temple.edu</a><br>
        <a href="https://www.temple.edu/maps-and-directions"><svg class="svg-icon-map-solid"><use xlink:href="#icon-map-solid"></use></svg> Maps and Directions</a></p>
    </div>
  <!--</div>-->

<div class="cell small-8 small-offset-2 medium-4 medium-offset-0 large-3">
    <h4 class="hr-hint subheader">Connect</h4>
    <!--<hr class="hr-slim">-->
    <ul class="menu vertical footer-links">
    <li><a href="{{root}}contact/"><svg class="svg-icon-address-book-solid"><use xlink:href="#icon-address-book-solid"></use></svg> Contact Us</a></li>
    <li><a href="https://sites.temple.edu/iodforms/join-mailing-list/"><svg class="svg-icon-envelope-open-solid"><use xlink:href="#icon-envelope-open-solid"></use></svg> Join Mail List</a></li>
    <li><a href="{{root}}opportunities"><span class="fas fa-users"></span> Careers</a></li>
    <li><a href="https://disabilities.temple.edu/sitemap/"><span class="fas fa-sitemap"></span> Site Map</a></li>
    <li><a href="https://disabilities.temple.edu/news/rss.xml"><i class="fa fa-rss"></i> RSS</a></li>
  </ul><br>
  </div>
  <div class="cell small-8 small-offset-2 medium-4 medium-offset-0 large-3">
    <h4 class="hr-hint subheader">Links</h4>
    <!--<hr class="hr-slim">-->
    <ul class="menu vertical footer-links">
    <li><a href="https://disabilities.temple.edu/espanol/">Espa&ntilde;ol</a></li>
    <li><a href="https://education.temple.edu/">College of Education</a></li>
    <li><a href="https://www.temple.edu/">Temple University</a></li>
    <li><a href="https://sites.temple.edu/staff/">IOD Login</a></li>
    <li><a href="https://www.temple.edu/privacy-statement/">Privacy Statement</a></li>
    <li><a href="https://www.temple.edu/about/temple-university-accessibility-statement/">Accessibility</a></li>
  </ul><br>
  </div>

  <div class="cell small-12"><p class="text-center"><a href="https://twitter.com/IODTempleU"><span class="fab fa-twitter"></span> @IODTempleU</a> |  <a href="https://www.facebook.com/IODTempleU"><span class="fab fa-facebook"></span> www.facebook.com/IODTempleU</a></p></div>

  <div class="cell small-12 layout-{{layout}}">
    <p class="text-center hr-hint">{{> copyright-line}}</p>
    {{#if special-footer}}
    <!-- Look to front matter for the special footer Handlebars variable marked true -->
      <p>This footer is really special!</p>
    {{/if}}
    <!--<hr>-->
  </div>
</footer>
