<footer class="grid-x grid-padding-x" role="contentinfo">
<div class="cell small-12 large-4">
  <h4>Contact Us</h4>
  <hr class="hr-slim">
  <div class="grid-x grid-padding-x">
    <div class="cell small-6 large-12">
        <p class="footer-text">Institute on Disabilities<br>1755 N. 13th Street<br>Student Center Room 411S<br>Philadelphia, PA 19122</p>
    </div>
    <div class="cell small-6 large-12">
      <p class="footer-text">Hours (except holidays):<br>Monday - Friday, 9 AM - 5 PM</p>
      <p class="footer-text">215-204-1356 voice<br>215-204-1805 TTY<br>
      <a href="#">iod@temple.edu</a></p>
    </div>
  </div>
</div>
<div class="cell small-6 large-4">
    <h4>Links</h4>
    <hr class="hr-slim">
    <ul class="menu vertical footer-links">
    <li><a href="#">Publications</a></li>
    <li><a href="#">Resources</a></li>
    <li><a href="#">Donate</a></li>
    <li><a href="#">Jobs</a></li>
    <li><a href="#">Site Map</a></li>
    <li><a href="#">Espa&ntilde;ol</a> <br></li>
    </ul>
  </div>
  <div class="cell small-6 large-4">
    <h4>More Links</h4>
    <hr class="hr-slim">
    <ul class="menu vertical footer-links">
    <li><a href="#">College of Education</a></li>
    <li><a href="#">Temple University</a></li>
    <li><a href="#">RSS</a></li>
    <li><a href="#">Social links</a></li>
    <li><a href="#">IOD Login</a></li>
    </ul>
  </div>
  <div class="cell small-12 layout-{{layout}}"><br>
    {{> copyright-line}}
    {{#if special-footer}}
    <!-- Look to front matter for the special footer Handlebars variable marked true -->
      <p>This footer is really special!</p>
    {{/if}}
    <hr>

  </div>
</footer>
