<header class="grid-x grid-padding-x" role="banner">
  <div class="cell small-12 medium-7 medium-order-2 align-self-bottom text-right logo-bg">
    <div class="">
      <form class="" action="index.html" method="post">
        <div class="" style="display:inline;">
          <i class="fa fa-search"></i>
        </div>
        <input type="text" name="" value="" placeholder="search" style="margin-bottom:0.2rem;display:inline;width:92%;">
      </form>
    </div>
  </div>

  <div class="cell small-12 medium-5 medium-order-1 logo-bg">
  <img src="{{root}}assets/img/logo/temple-university-logo.png" width="250px" alt="IOD" class="logo-padding"></div>

<div class="cell small-12 medium-order-3 align-self-bottom" style="padding-top:0.5rem;padding-bottom:0rem;">
  <h1 class="narrow-page-title header-font-size header-line-ht">Institute on Disabilities<!--<span class="smaller-text-60 show-for-medium">College of Education</span>--></h1>
</div>

<!--<div class="cell show-for-medium medium-1 align-self-bottom" style="border:1px solid red;">
  <p class="text-right"><i class="fa fa-search"></i></p>
</div>-->
</header>
