<header id="header" class="grid-x grid-padding-x bg-light">
  <div class="cell small-12 medium-7 medium-order-2 align-self-bottom text-right"><!-- look for unnecessary styles due to removing bg color class from header divs. It was applied for large but not for med or sm.  -->
    <div class="">
      <div class="input-group" style="margin-top:0.1rem;margin-bottom:0.2rem;">
        <div class="label-search"><label for="gsc-i-id1">SEARCH:</label> </div>
        <gcse:searchbox-only></gcse:searchbox-only>
      </div>
    </div>
  </div>
  <div class="cell small-12 medium-5 medium-order-1 small-text-center align-self-bottom">
  <a href="https://www.temple.edu/"><img src="{{root}}assets/img/logo/temple-university-logo.png" width="250" alt="Temple University" class="logo-padding"></a></div>
  <div class="cell small-11 medium-order-3 align-self-bottom" style="padding-top:0.5rem; padding-bottom:0;">
    <div class="grid-x">
      <div class="cell small-12 medium-11 small-text-center"><h1 class="narrow-site-title header-font-size header-line-ht"><a href="{{root}}" class="link-simple">Institute on Disabilities</a></h1></div>
      <div class="cell small-1 small-offset-9 medium-1 medium-offset-0 align-self-bottom base-font-size display-font-family skip-nav"><a href="#main">skip&nbsp;navigation</a></div>
    </div>
  </div>
</header>
