<nav role="navigation" class="above-all" data-sticky-container>
  <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium" data-animate="fade-in fade-out">
  <button class="menu-icon" type="button" data-toggle="example-menu"><span class="show-for-sr">open navigation</span></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="example-menu" data-sticky data-options="anchor:page; marginTop:0;" style="width:100%">
  <div class="top-bar-left">
  <ul class="vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown">
    <!--<li class="menu-text"><img src="https://www.temple.edu/instituteondisabilities/images/tuid.jpg" alt="Logo, Temple University Institute on Disabilities" width="180px">--><!--Institute on Disabilities</li>-->
  <!--  <li class="r-padding-half">-->
    <li class="{{#ifequal category 'about'}}tab-is-active-accent{{/ifequal}}">
      <a href="{{root}}about/">About Us</a>
      <ul class="vertical menu">
        <li><a href="{{root}}about/">Our Mission and Vision</a></li>
        <li><a href="{{root}}news/">News</a>
        <li><a href="{{root}}contact/">Contact Us</a>
        <li><a href="{{root}}about/staff.html">Staff List</a></li>
        <li><a href="{{root}}about/">Our Mission and Vision</a></li>
        <li><a href="{{root}}opportunities/">Careers</a></li></li>
        <li><a href="{{root}}donate/">Giving</a></li>
      </ul>
    </li>
    <li class="{{#ifequal category 'programs'}}tab-is-active-accent{{/ifequal}}">
      <a href="https://disabilities.temple.edu/programs/">Programs</a>
      <ul class="vertical menu">
        <li><a href="https://disabilities.temple.edu/advocacy/">Advocacy</a></li>
        <li><a href="https://disabilities.temple.edu/education/">Education</a></li>
        <li><a href="{{root}}program-pg-hero-rv.html">TechOWL</a></li>
        <li><a href="https://disabilities.temple.edu/policy/">Policy</a></li>
        <li><a href="https://disabilities.temple.edu/programs/research/">Research</a></li>
        <li><a href="https://disabilities.temple.edu/programs/">All Programs</a></li>
      </ul>
    </li>
    <li class="{{#ifequal category 'training'}}tab-is-active-accent{{/ifequal}}">
      <a href="{{root}}training/">Training and Events</a>
      <ul class="vertical menu">
        <li><a href="https://disabilities.temple.edu/cal/">Calendar</a></li>
        <li><a href="{{root}}news/">News</a></li>
        <li><a href="https://disabilities.temple.edu/programs/technical/">Technical Assistance</a></li>
        <li><a href="https://disabilities.temple.edu/programs/cds/">College of Direct Support</a></li>
      </ul>
    </li>
    <li class="{{#ifequal category 'resource'}}tab-is-active-accent{{/ifequal}}">
      <a href="{{root}}/resources/">Resources</a>
      <ul class="vertical menu">
        <li><a href="https://disabilities.temple.edu/publications/">Publications</a></li>
        <li><a href="https://techowlpa.org/service/information-assistance/">Assistive Tech Answers</a></li>
        <li><a href="{{root}}resources/">General Resource List</a></li>
      </ul>
    </li>
</ul>
  </div>
  <div class="top-bar-right">
    <!--<ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>-->
  </div>
</div>
</nav>
