<nav role="navigation" class="above-all" data-sticky-container>
  <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium" data-animate="fade-in fade-out">
  <button class="menu-icon" type="button" data-toggle="example-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="example-menu"  data-sticky data-options="anchor:page;marginTop:0;" style="width:100%">

  <div class="top-bar-left">
  <ul class="vertical medium-horizontal menu bg-white" data-responsive-menu="accordion medium-dropdown">
    <!--<li class="menu-text"><img src="https://www.temple.edu/instituteondisabilities/images/tuid.jpg" alt="Logo, Temple University Institute on Disabilities" width="180px">--><!--Institute on Disabilities</li>-->
    <li class="r-padding-half">
      <a href="#">About Us</a>
      <ul class="vertical menu">
        <li><a href="#">Contact Us</a>
        <li><a href="{{root}}about/staff.html">Staff List</a></li>
        <li><a href="#">Our Mission and Vision</a></li>
        <li><a href="#">Our History</a></li>
        <li><a href="#">Jobs</a></li></li>
        <li><a href="#">Giving</a></li>
      </ul>
    </li>
    <li class="r-padding-half">
      <a href="#">Programs</a>
      <ul class="vertical menu">
        <li><a href="#">Advocacy</a></li>
        <li><a href="#">Education</a></li>
        <li><a href="#">PIAT/Technology</a></li>
        <li><a href="#">Policy</a></li>
      </ul>
    </li>
    <li class="r-padding-half">
      <a href="#">Training and Events</a>
      <ul class="vertical menu">
        <li><a href="#">Calendar</a></li>
        <li><a href="#">News</a></li>
      </ul>
    </li>
</ul>
  </div>
  <div class="top-bar-right">
    <!--<ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>-->
  </div>
</div>
</nav>
