<tbody class="search-table vert-align-top" id="searchTable">
  {{#each pub-list-download.itemArray}}
  <tr class="gap-rows shadow-simple">
    <td><p><strong>{{title}}</strong></p><p class="base-font-size">{{description}}</p></td>
    <td><p class="base-font-size">Cost: <strong>Free</strong></p><p class="base-font-size">Click to open document in new browser window, or right-click and select to save link to save the file.</p><p><a href="{{linkhref}}" class="button no-underline" target="_blank">Download <span class="screen-reader-only">{{linktextscreenreader}}</span> <span class="fas fa-file-download" aria-hidden="true"></span></a></p></td>
  </tr>
  {{/each}}
</tbody>
 <!-- The partial doesn't understand root, result is something like: http://localhost:8000/publications/assets/img/pub/iod_programs_1sheet.jpg -->
