{{#each staff-list-full.staffArray}}
<tbody id="searchTable">
<tr class="">
  <!--<td width="20%"><a href="#{{link}}"><strong>{{firstname}} {{lastname}}</strong></a></td>
  <td width="35%">{{title}}</td>
  <td width="20%">{{phone}}</td>
  <td width="25%"><a href="mailto:{{email}}">{{email}}</a></td>-->
  <td class="bg-darker"><a href="#{{link}}" class="txt-lightest">{{firstname}} {{lastname}} </a></td>
  <td>{{title}}</td>
  <td><i class="fa fa-phone-square"></i> {{phone}}</td>
  <td><i class="fa fa-envelope"></i> <a href="mailto:{{email}}">{{email}}</a></td>
</tr>
</tbody>
{{/each}}
