// This and other sheets are imported to app.scss

/* xxxxxxxxxx       COLOR VARIABLES         xxxxxxxxxx */

/* MISC Colors */
$white-white: #fff; // foundation white is different
$darkest-gray: #333;
$blacker-black: #0a0a0a;

/* TU Colors */
$tu-black: #222; // current, aka Charcoal
$tu-blacker: #0e1014; // current, aka Temple Black
$tu-red: #a41e35; // current, aka Temple Cherry
$tu-bright-cherry: #e21926; // current, aka Bright Cherry Red
$tu-gray: #899197; // current, aka Slate
$tu-bright-blue-accent: #6ec4e8; // legacy
$tu-gold: #fcb426;
$tu-purple: #9c268f;
$tu-olive-drab: #749715;
$tu-sea-green: #1a9682;
$tu-sky-blue: #1378dd; // current, reserved use
$tu-alert-yellow: #ffdd00; // current, reserved use
// TU Colors applied to Foundation palette:
$tu-secondary: $tu-gray;
$tu-success: darken($tu-olive-drab, 6%);
$tu-warning: $tu-gold;
$tu-alert: $tu-bright-cherry;
.callout.warning {background-color: lighten($tu-warning, 35%);}//move this to different file

/* IOD Colors */
$iod-blue: #2a659a;
$iod-red: #990000;
// $iod-blue: #3a6296;
$iod-primary: $iod-blue;
/* FOUNDATION Colors */
// $dark-gray
//$lightest-gray: lighten($dark-gray, 40%); // try to adjust to base off of tu-gray
$lightest-gray: lighten($tu-gray, 35%);
$light-light-gray: lighten($tu-gray, 40%); // see news body bg

.bg-white {
  background-color: $white-white;
}

.bg-light {
  background-color: $white;
}

.bg-dark {
  background-color: lighten($darkest-gray, 55%);
}

.bg-dark-large {
  @include breakpoint(large) {
    background-color: lighten($darkest-gray, 55%);
  }
}

.bg-darker {
  background-color: $darkest-gray;
}

.bg-lightest-gray {
  // background-color: lighten($dark-gray, 40%);
  background-color: $lightest-gray;
}

.bg-even-lighter-gray {
  // background-color: lighten($dark-gray, 40%);
  background-color: $light-light-gray;
}

.darkest-gray { color: $darkest-gray; }

.txt-lightest {
  color: #fcfcfc;
}

.txt-color-head {
  color: darken($tu-red, 10%);
}
// REDEFINE Foundation dropdown menu triangle
// $dropdownmenu-arrow-color: $white-white;

/* REDEFINE Foundation button colors */
//$foundation-palette: (
//  primary: #2a659a,
//  secondary: #899197,
//  success: #c1d62e,
//  warning: #fcb426,
//  alert: #e21926,
//);
