// This and other sheets are imported to app.scss
/*xxxxxxxxxx       COLOR VARIABLES         xxxxxxxxxx*/

/* MISC Colors */
$white-white: #fff;
$darkest-gray: #333;
$blacker-black: #0a0a0a;

/* TU Colors */
$tu-black: #222;
$tu-red: #a41e35;
$tu-gray: #899197;
$tu-bright-blue-accent: #6ec4e8;

/* IOD Colors */
$iod-blue: #2a659a;
$iod-red: #990000;
// $iod-blue: #3a6296;
// iod home page topstories h1: 535353

.darkest-gray {color: $darkest-gray;}

.bg-white {
  background-color: $white-white;
}
.bg-dark {
  background-color: $dark-gray; // $dark-gray is foundation's
}
.bg-darker {
  background-color: $darkest-gray;
}
.txt-lightest {
  color: #fcfcfc;
}
.txt-color-head {
  color: darken($tu-red, 10%);
}
.bg-lightest-gray {
  background-color: lighten($dark-gray, 40%);
}



/* REDEFINE Foundation button colors */
//$foundation-palette: (
  //primary: #1779ba,
  //secondary: #767676,
  //success: #3adb76,
  //warning: #ffae00,
  //alert: #cc4b37,
//);
