// This and other sheets are imported to app.scss

/*
.hero {
  background-color: $medium-gray;
  background-image: url("../img/feature/flashy-phone-3000x.jpg");
  padding: 50px 0.9375rem 50px 0.9375rem;
    .deck {
      max-width: 70%;
    }
    .transparent-bg {
      background-color: rgba(255, 255, 255, 0.2);
      padding:10px;
    }
}
*/

@mixin feature-img ($img, $position: center center, $heightsm: 600px, $heightlg: 500px) {
    @include breakpoint(small only) { // foundation breakpoint mixin
    background: linear-gradient(to bottom,
    rgba(0,0,0,.1),
    rgba(0,0,0,.1)),
    url($img);
    //background-position: $position;
    background-size: cover;
    height: $heightsm;
    }
    @include breakpoint(medium) { // foundation breakpoint mixin
    background: linear-gradient(to bottom,
    rgba(0,0,0,.1),
    rgba(0,0,0,.1)),
    url($img);
    //background-position: $position;
    background-size: cover;
    height: $heightlg;
    }
    background-repeat: no-repeat;
    background-position: $position;
}

// .feature-bg is applied to containing <section> along with a content-specfic class, like .feature-item-something, that calls the mixin @include feature-img. The mixin specifies image, position, and size.
.feature-bg {
  color: $white;
  margin: 0;
  width: 100%;
  display: table;
  padding-top: 40px;
  .feature-container {
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 20px;
    h2 {
      color: $tu-gold; // color: $tu-bright-blue-accent;
      font-size: 4rem;
      line-height: 105%;
      margin-bottom: 0;
      padding: 0 9%;
      @include breakpoint(small only) {font-size:2.4rem;line-height:normal;}
    }
    p {
      padding: 0 9%;
      margin-top: 0;
    }
    .bg-opacity-dark {
      background: rgba(0, 0, 0, 0.5);
      padding: 0.5rem 0;
    }
    .bg-opacity-light {
      background: rgba(255, 255,255, 0.5);
      padding: 0.5rem 0;
    }
  }
}
.feature-item {
  @include feature-img("../img/feature/flashy-phone-3000x.jpg", "right top", 590px, 490px);
}
.feature-item-vision {
  @include feature-img("../img/feature/sean-col-1600x.jpg", "right top", 450px, 400px);
}
.feature-item-training {
  @include feature-img("../img/feature/2018-perry-0056-gry-1600x.jpg", "right top", 450px, 400px);
}
.feature-item-resources {
  @include feature-img("../img/feature/tu-window-gry-1600x.jpg", "right top", 400px, 400px);
}
.feature-item-programs {
  @include feature-img("../img/feature/dis-chg-weaving-1600x.jpg", "right top", 400px, 400px);
}
.feature-item-advocacy {
  @include feature-img("../img/feature/end-the-word-2-2019-1600x.jpg", "right bottom", 400px, 400px);
}
.feature-item-education {
  @include feature-img("../img/feature/aal-group-800x.jpg", "right top", 400px, 400px);
}
.feature-item-policy {
  @include feature-img("../img/feature/aleong-able-2014-DSC_0302-filt-bl-1600x.jpg", "right top", 400px, 400px);
}
.feature-item-home {
  @include feature-img("../img/feature/community-2019-hero-blocks-1600.jpg", "left top", 400px, 400px);
  background: rgb(165,165,165);
  background: linear-gradient(90deg, rgba(165,165,165,1) 0%, rgba(165,165,165,1) 35%, rgba(165,165,165,1) 100%);

  @include breakpoint(small only) { background-image: none; background-color: $iod-primary; }

  .feature-lead {
    width: 70%;
    @include breakpoint(small only) {
      width: 100%;
    }
    @include breakpoint(medium only) {
      width: 80%;
    }
   }
}
