// This and other sheets are imported to app.scss

.hero {
  background-color: $medium-gray;
  // background-image: url("http://via.placeholder.com/1200x400/c0c0c0");
  background-image: url("../img/feature/flashy-phone-3000x.jpg");
  padding: 50px 0.9375rem 50px 0.9375rem;
    .deck {
      max-width: 70%;
    }
    .transparent-bg {
      background-color: rgba(255, 255, 255, 0.2);
      padding:10px;
    }
}

@mixin feature-img ($img, $position: center center, $heightsm: 600px, $heightlg: 500px) {
    @include breakpoint(small only) { // foundation breakpoint mixin
    background: linear-gradient(to bottom,
    rgba(0,0,0,.1),
    rgba(0,0,0,.1)),
    url($img);
    background-repeat: no-repeat;
    background-position: $position;
    background-size: cover;
    height: $heightsm;
    }
    @include breakpoint(medium) { // foundation breakpoint mixin
    background: linear-gradient(to bottom,
    rgba(0,0,0,.1),
    rgba(0,0,0,.1)),
    url($img);
    background-repeat: no-repeat;
    background-position: $position;
    background-size: cover;
    height: $heightlg;
    }
}

.feature-bg {
  color: $white;
  margin: 0;
  width: 100%;
  display: table;
  .feature-container {
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 20px;
    h2 {
      color: $tu-bright-blue-accent;
      font-size: 4rem;
      line-height: 105%;
      margin-bottom: 0;
      padding: 0 9%;
    }
    p {
      padding: 0 9%;
      margin-top: 0;
    }
    .bg-opacity-dark {
      background: rgba(0, 0, 0, 0.5);
      padding: 0.5rem 0;
    }
    .bg-opacity-light {
      background: rgba(255, 255,255, 0.5);
      padding: 0.5rem 0;
    }
  }
}
.feature-item {
  @include feature-img("../img/feature/flashy-phone-3000x.jpg", "right top", 590px, 490px);
  // @include feature-img("../img/feature/flashy-phone-3000x.jpg");
}
.feature-item-vision {
  @include feature-img("../img/feature/sean-col-3000x.jpg", "right top", 450px, 400px);
}
