a {
  text-decoration: underline;
}

/*td.bg-darker {
  a:hover, a:focus {
    color: $white;
    text-decoration: underline;
  }
}*/

/* light-marker: light color text and marker-style hover highlight with a bg color  */
  a.light-marker:link, a.light-marker:visited {
    color: $white;
  }

  a.light-marker:focus, a.light-marker:hover, a.light-marker:active {
    text-decoration: none;
    //color: $white;
    background-color: darken($tu-red, 20%);
  }

.breadcrumbs {
  a {
    color: darken($iod-blue, 10%);
    &:link, &:visited {
    text-decoration: underline;
    }
    &:hover, &:active {
      text-decoration: none;
    }
  }
}

.link-simple {
  text-decoration: none;
  &:link, &:visited {
    color: $tu-black;
  }
  &:hover, &:active, &:focus {
    color: $tu-red;
  }
}

.link-simple-pop {
  text-decoration: none;
  &:link, &:visited {
    color: $tu-black;
  }
  &:hover, &:active {
    color: $iod-blue;
  }
}
// .show-on-focus {
//  TK
// }

.link-darker {
  text-decoration: underline;
  &:link, &:visited {
    color: darken($iod-blue, 10%);
  }
  &:hover, &:active {
    color: darken($iod-blue, 30%);
    text-decoration: none;
  }
}

footer {
  a:link, a:visited {
    color: #fcfcfc;
    text-decoration: underline;
  }
  a:hover, a:active {
    color: #f7dc6f;
    text-decoration: none;
  }
}
