td.bg-darker {
  a:hover, a:focus {
    color: $white;
    text-decoration: underline;
  }
}

.breadcrumbs {
  a {
    color: darken($iod-blue, 10%);
    &:link, &:visited {
    text-decoration: underline;
    }
    &:hover, &:active {
      text-decoration: none;
    }
  }
}
// .show-on-focus {
//  TK
// }
