// This and other sheets are imported to app.scss
//
// CREATE CLEAR SECTIONS AND POSSIBLY MOVE SECTION TO A SEPARATE SHEET IF IT BECOMES LARGE.
// STYLES FOR THE NAV MAY BE A GOOD CANDIDATE FOR A SEPARATE SHEET,
// ALSO TYPOGRAPHY, LINKS, AND FORMS, AND SOMETHING LIKE STRUCTURE/LAYOUT.
// POSSIBLY OVERRIDES OF COMPONENTS.

@mixin testborder($width, $color, $padding) {
  border-width: $width;
  border-style: solid;
  border-color: $color;
  padding: $padding;
}

.testborderone {
  @include testborder(6px, #333, 2em);
}

// highlight flex grid items, delete at some point
.demo {
  background: #1779ba;
}

.above-all {
  z-index: 1;
}

//.center-small {
//@include breakpoint(small-only) {
// not sure where this was going
// justify-content:
//}
//}

.logo-padding {
  padding-bottom: 10px;
  padding-top: 10px;
}

.logo-bg {
  @include breakpoint(large) {
    background-color: $light-gray;
  }
}

.l-r-padding-unit {
  padding-left: 1rem;
  padding-right: 1rem;
}

.l-r-padding-three-unit {
  @include breakpoint(large) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.r-padding-unit {
  padding-right: 1rem;
}

.l-padding-unit {
  padding-left: 1rem;
}

.r-margin-unit {
  margin-right: 1rem;
}

.l-margin-unit {
  margin-left: 1rem;
}

.padding-none { padding: 0 !important; }
.padding-breadcrumbs { padding: 0 1rem 0 1rem; }
.pad-bottom-unit { padding-bottom: 1.6rem;}
.margin-bottom-none {
  margin-bottom: 0;
}
.hr-hint { // suggested for underline below a heading, try using alpha etc
  border-bottom: 1px solid #454545;
}

.hr-slim {
  margin: 0;
}

// Show only for screen reader...
// Use case would be a Read More link followed by span.screen-reader-only with additional text
.screen-reader-only {
	/*
	via Rian Rietveld. https://rianrietveld.com/2015/04/04/the-screen-reader-text-class-why-and-how/
	Visually hide text meant only for screen readers. Does not include tab navigation focus.
	EX: <p><a href="link.html">Read more <span>about the full-day sessions and access registration</span></a></p>
	*/
	  border: 0;
	  clip: rect(1px, 1px, 1px, 1px);
	  clip-path: inset(50%);
	  height: 1px;
	  margin: -1px;
	  overflow: hidden;
	  padding: 0;
	  position: absolute !important;
	  width: 1px;
	  word-wrap: normal !important;
}
.screen-reader-only:focus {
  clip: auto;
  height: auto;
  width: auto;
  border: 4px solid red;
  padding: 2px;
  overflow: visible;
  top: 0;
  left: 0;
}

.skip-nav {
  text-align: right;
  :focus {
    background-color: $tu-red;
    padding:0.5rem 0.75rem;
    color: $white;
    border-radius: 3px;
    text-decoration: underline;
  }
}
// SEARCH, MAY BE A SEPARATE SCSS FILE...
#___gcse_0 {
    width: 100%;
}
.gsc-search-box tbody td { padding: 0; }

.gsc-search-box table tbody {
  border: 0;
  @include breakpoint(large) {
    background-color: $light-gray;
  }
}
// Move to _settings-overrides?
form table.gsc-search-box td.gsc-input { padding-right: 0; }
form .gsc-search-button-v2 { padding: 12px 36px; }
table#gs_id50.gstl_50 { margin-bottom: 0; }
input#gsc-i-id1 { padding: 7px !important; }
.gsc-input-box { margin-top: 3px; }
