// This and other sheets are imported to app.scss
//
// CREATE CLEAR SECTIONS AND POSSIBLY MOVE SECTION TO A SEPARATE SHEET IF IT BECOMES LARGE.
// STYLES FOR THE NAV MAY BE A GOOD CANDIDATE FOR A SEPARATE SHEET,
// ALSO TYPOGRAPHY, LINKS, AND FORMS, AND SOMETHING LIKE STRUCTURE/LAYOUT.
// POSSIBLY OVERRIDES OF COMPONENTS.

/*xxxxxxxxxx       VARIABLES         xxxxxxxxxx*/
$white-white: #fff;
$link-blue: #2a659a;
$darkest-gray: #333;

@mixin testborder($width, $color, $padding) {
  border-width: $width;
  border-style: solid;
  border-color: $color;
  padding: $padding;
}

body {font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;}

.testborderone {
  @include testborder(6px, #333, 2em);
}

// maybe actually use some of these
.narrow-page-title {
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-weight: 400;
}
.darkest-gray {color:$darkest-gray;}
.header-font-size {
  font-size: 2.5rem;
}
.header-line-ht {
  line-height: 2.2rem;
}

// highlight flex grid items, delete at some point
.demo {
  background: #1779ba;
}

.above-all{
  z-index: 1;
}

.menu .active > a {
    background: $dark-gray;
    border-radius:2px;
}
.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
    border-color: $medium-gray transparent transparent;
}
.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
    border-color: $medium-gray transparent transparent;
}

.vertical.first-sub.submenu.is-accordion-submenu{
  //margin-left:1rem;
}
.footer-links {
  font-size: 88%;
  li { border-bottom: 1px dashed #454545; }
}
.footer-text {
  font-size: 88%;
}
footer {
  a:link, a:visited {
    color: #fcfcfc;
  }
  a:hover, a:active {
    color: #f7dc6f;
  }
}
.smaller-text-60 {
  font-size: 60%;
}
.smaller-text-90 {
   @include breakpoint(medium) {font-size: 90%;}
}
.logo-padding {
  padding-bottom:10px;
  padding-top: 10px;
}
.logo-bg {
  background-color:$light-gray;
}

// Semantic, but right-sized...
aside h3 {
  font-size: 1.25rem;
}

// Too much space between breadcrumbs and horiz rule that follows...
.breadcrumbs {margin: 0;}

.l-r-padding-half {padding-left:0.5rem;padding-right:0.5rem;}
.r-padding-half {padding-right:0.5rem;}

// Make it light
.top-bar {
  border-top:4px solid #556d86;
  box-shadow: 0 4px 4px -3px #ccc;
  background-color: $white-white;
  padding:0;
}

// The light color doesn't cascade from .top-bar, so...
.top-bar ul {
  background-color: $white-white;
}

@media (max-width: 639px) {
  .top-bar li ul {
    margin-left: 1.6rem;
  }
}

.title-bar {
  background-color: #415366;
}
.title-bar-title {
  padding-left: 5px;
  text-transform: capitalize;
}
.top-bar a {color:#404040;}
// need vert divider, note if empty first li is removed another class will be needed for border-left
.top-bar li {border-right: 1px solid #ddd;}

.hero {
  background-color: #cccccc;
  background-image: url("http://via.placeholder.com/1200x400/c0c0c0");
  padding: 50px 0.9375rem 50px 0.9375rem;
  .deck {max-width: 70%;}
  .transparent-bg {background-color: rgba(255, 255, 255, 0.2);padding:10px;}
}
.bg-white {
  background-color: $white-white;
}
.bg-dark {
  background-color: $dark-gray;
}
.bg-darker {
  background-color: $darkest-gray;
}
.txt-lightest {
  color: #fcfcfc;
}
.hr-hint {
  border-bottom: 1px solid #454545;
}
// Example of using a mixin to customize
.menu-icon {
  @include hamburger($white-white, $light-gray, 24px, 20px, 2px, 3);
}

.hr-slim{
	margin:0;
}
.toc {
  font-size: 0.9rem;
  h4 {
    font-size: 1rem;
  }
}
