// This and other sheets are imported to app.scss
//
// CREATE CLEAR SECTIONS AND POSSIBLY MOVE SECTION TO A SEPARATE SHEET IF IT BECOMES LARGE.
// STYLES FOR THE NAV MAY BE A GOOD CANDIDATE FOR A SEPARATE SHEET,
// ALSO TYPOGRAPHY, LINKS, AND FORMS, AND SOMETHING LIKE STRUCTURE/LAYOUT.
// POSSIBLY OVERRIDES OF COMPONENTS.

@mixin testborder($width, $color, $padding) {
  border-width: $width;
  border-style: solid;
  border-color: $color;
  padding: $padding;
}

.testborderone {
  @include testborder(6px, #333, 2em);
}

// highlight flex grid items, delete at some point
.demo {
  background: #1779ba;
}

.above-all {
  z-index: 1;
}

.border-simple {
  border: 1px solid $lightest-gray;
  border-radius: 5px;
}

.small-text-center {
  @include breakpoint(small only) {
    text-align: center;
  }
}

.logo-padding {
  padding-bottom: 10px;
  padding-top: 10px;
}

.logo-bg {
  @include breakpoint(large) {
    background-color: $light-gray;
  }
}

.padding-unit {
  padding: 1rem;
}

.l-r-padding-unit {
  padding-left: 1rem;
  padding-right: 1rem;
}

.l-r-padding-three-unit {
  @include breakpoint(large) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.r-padding-unit {
  padding-right: 1rem;
}

.l-padding-unit {
  padding-left: 1rem;
}

.r-margin-unit {
  margin-right: 1rem;
}

.l-margin-unit {
  margin-left: 1rem;
}
.l-margin-none { margin-left: 0; }
.padding-none { padding: 0 !important; }
.margin-none { margin: 0; }
.padding-breadcrumbs { padding: 0 1rem 0 1rem; }
.margin-breadcrumbs {
  @include breakpoint(small only) {
    margin-top: 2.4em;
  }
  //@include breakpoint(medium) {
  //  margin-top: inherit;
  //}
}
.pad-bottom-unit { padding-bottom: 1.6rem;}
.margin-bottom-none {
  margin-bottom: 0;
}
.margin-top-unit {
  margin-top: 1rem;
}
.margin-top-none {
  margin-top: 0;
}
.hr-hint { // suggested for underline below a heading, try using alpha etc
  border-bottom: 1px solid #454545;
}

.hr-slim {
  margin: 0;
}

// SEARCH, MAY BE A SEPARATE SCSS FILE...
#___gcse_0 {
    width: 100%;
}
.gsc-search-box tbody td { padding: 0; }

.gsc-search-box table tbody {
  border: 0;
  @include breakpoint(large) {
  //  background-color: $light-gray;
  background-color: $white;
  }
}
// Move to _settings-overrides?
form table.gsc-search-box td.gsc-input { padding-right: 0; }
form .gsc-search-button-v2 { padding: 12px 36px; }
table#gs_id50.gstl_50 { margin-bottom: 0; }
input#gsc-i-id1 { padding: 7px !important; }
.gsc-input-box { margin-top: 3px; }

// Validation for search requires visible label:
.label-search {
  padding-top: 1em;
  padding-right: .3em;
  color: $darkest-gray;
  font-style: oblique;
}
