.menu .active > a {
    background: $dark-gray;
    border-radius: 2px;
}
.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
  // This is moved to settings-overrides.scss
  //  border-color: $blacker-black transparent transparent; // the expanded menu's arrows
}

.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
   // This style moved to settings-overrides.scss
    // border-color: $medium-gray transparent transparent; // affects menu arrows at hamburger size
}

.accordion-menu li {
    border-bottom: 1px solid $blacker-black; // The menu at hamburger size
    :last-of-type {
      border-bottom: none;
    }
}

.dropdown .is-dropdown-submenu a {
  border-bottom: 1px solid $blacker-black;
}

// Make it light or dark
.top-bar {
  border-top: 2px solid $tu-red;
  box-shadow: 0 4px 4px -3px #333;
  //background-color: $white-white;  // likely unused, candidate for deletion
  padding: 0;
  ul {
    background-color: $tu-black;
  }
}

@media (max-width: 639px) {
  .top-bar li ul {
    margin-left: 1.6rem;
  }
}

.title-bar-title {
  padding-left: 5px;
  text-transform: capitalize;
}

.top-bar a {
  color: #fcfcfc;
  font-weight: 300;
  &:hover {
    color: lighten($iod-blue, 40%);
  }
  &:active {
    color: lighten($iod-blue, 30%);
  }
}

// vert divider in expanded menu bar
// note if empty first li is removed another class will be needed for border-left
.top-bar li {
  border-right: 1px solid $blacker-black;
  li {border-right: none;}
}

// Using a mixin to customize
.menu-icon {
  @include hamburger($white-white, $light-gray, 24px, 20px, 2px, 3);
}
