.menu .active > a { // ??
    background: $dark-gray;
    border-radius: 2px;
}
.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
  // This is moved to settings-overrides.scss
  //  border-color: $blacker-black transparent transparent; // the expanded menu's arrows
}

.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
   // This style moved to settings-overrides.scss
    // border-color: $medium-gray transparent transparent; // affects menu arrows at hamburger size
}

.accordion-menu li {
    border-bottom: 1px solid $blacker-black; // The menu at hamburger size
    :last-of-type {
      border-bottom: none;
    }
}

.dropdown .is-dropdown-submenu a {
  border-bottom: 1px solid $blacker-black;
  padding: 0.7rem 1rem !important;
}

.dropdown.menu a {
    padding: 1rem 1rem .9rem 1rem;
}

// Make it light or dark
.top-bar {
  border-top: 2px solid $tu-red;
  background-color: $tu-black;
  //box-shadow: 0 4px 4px -3px #333;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  //background-color: $white-white;  // likely unused, candidate for deletion
  padding: 0;
    ul {
      background-color: $tu-black;
    }
    // vert divider in expanded menu bar
    // note if empty first li is removed another class will be needed for border-left
    li {
      border-right: 1px solid $blacker-black;
      // NEW!!!!!
      border-bottom: 3px solid $tu-black;
      padding-right: 0.5rem;
      li {
        border-right: none;
        border-bottom: none;
      }
    }
    a {
      color: #fcfcfc;
	  background-color: #222 !important;
      font-family: Roboto;
      font-size: 1.2rem;
      font-weight: 300;
        &:hover {
          color: lighten($iod-blue, 40%);
        }
        &:active {
          color: lighten($iod-blue, 30%);
        }
      }
}

@media (max-width: 639px) {
  .top-bar li ul {
    margin-left: 1.6rem;
  }
}

.title-bar-title {
  padding-left: 5px;
  text-transform: capitalize;
}

.menu .tab-is-active-accent {
  border-bottom: 3px solid $tu-gold;
}

// Using a mixin to customize
.menu-icon {
  @include hamburger($white-white, $light-gray, 24px, 20px, 2px, 3);
}
