.menu .active > a {
    background: $dark-gray;
    border-radius:2px;
}
.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
    border-color: $medium-gray transparent transparent;
}
.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
    border-color: $medium-gray transparent transparent;
}
.vertical.first-sub.submenu.is-accordion-submenu{
  //margin-left:1rem;
}
.dropdown .is-dropdown-submenu a {
  border-bottom: 1px dashed $light-gray;
}


// Make it light
.top-bar {
  // border-top:4px solid #556d86;
  border-top:3px solid $tu-red;
  box-shadow: 0 4px 4px -3px #ccc;
  background-color: $white-white;
  // background-color: $tu-black;
  padding:0;
}

// The light color doesn't cascade from .top-bar, so...
.top-bar ul {
  //background-color: $white-white;
  background-color: $tu-black;
}

@media (max-width: 639px) {
  .top-bar li ul {
    margin-left: 1.6rem;
  }
}

.title-bar {
  background-color: #415366;
}
.title-bar-title {
  padding-left: 5px;
  text-transform: capitalize;
}
.top-bar a {
  color:#404040;
}
// need vert divider, note if empty first li is removed another class will be needed for border-left
.top-bar li {
  border-right: 1px solid #ddd;
}

// Example of using a mixin to customize
.menu-icon {
  @include hamburger($white-white, $light-gray, 24px, 20px, 2px, 3);
}
