// reorganize...
$font-stack-text: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-stack-display: "Roboto Condensed", Arial, sans-serif;
$font-stack-display2: "Roboto", Arial, sans-serif;

body {
  font-family: $font-stack-text;
  color: $tu-black; // does not apply to callout or form text
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack-display2;
}

cite {
    display: inline;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
}

cite::before {
    content: "";
}

.narrow-site-title {
  font-family: $font-stack-display;
  font-weight: 400;
}
.narrow-page-title {
  font-family: $font-stack-display;
  font-weight: 400;
  margin-top:0.6rem;
  @include breakpoint(small only) {
    font-size: 1.728rem;
  }
}

.header-font-size {
  font-size: 2.5rem;
}
.base-font-size {
  font-size: 1rem;
}
.header-line-ht {
  line-height: 2.2rem;
}
.body-font-family {
  font-family: $font-stack-text;
}
.display-font-family {
  font-family: $font-stack-display2;
}
main {
  p, ul, ol {
    @include breakpoint(small) {
      font-size: 1.2rem; // www.modularscale.com, minor third
      //line-height: 1.7;
      line-height: 1.5;
      font-weight: 300;
    }
    @include breakpoint(medium) {
      font-size: 1.2rem; // www.modularscale.com, minor third
      line-height: 1.6;
      font-weight: 300;
    }
    @include breakpoint(large) {
      font-size: 1.44rem;
      line-height: 1.7;
      font-weight: 300;
    }
  }
  h2 {
     margin-top: 0.8rem;
    //@include breakpoint(small) { margin-top: 0.8rem; }
    //@include breakpoint(medium) { margin-top: 0.8rem; }
    //@include breakpoint(large) { margin-top: 0.8rem; }
  }
  h3 {
    margin-top: 2rem;
  }
  dl {
    font-size: 1.1rem;
  }
}
// p {
//   margin-bottom: 1rem;
//   font-size: inherit;
//   line-height: 1.6;
//   text-rendering: optimizeLegibility; }

// Isn't lead already a class that's musch simpler? This should probably extend lead instead of overwriting it.
.lead, .feature-lead {
  @include breakpoint(small) {
    font-family: $font-stack-display;
    font-size: 1.44rem;
    line-height: 1.4;
    position: relative; // for the pseudo content border
    margin-bottom: 40px; // for the pseudo content border
    //color: white;
    //background-color: crimson;
  }
  @include breakpoint(medium) {
    font-family: $font-stack-display;
    font-size: 2.074rem;
    line-height: 1.5;
    position: relative; // for the pseudo content border
    margin-bottom: 40px; // for the pseudo content border
    //border-bottom:12px solid #666;
    //font-weight: 400;
  }
  @include breakpoint(large) {
    font-family: $font-stack-display;
    font-size: 2.488rem;
    line-height: 1.5;
    font-weight: 400;
    position: relative; // for the pseudo content border
    margin-bottom: 40px; // for the pseudo content border
  }
}
/* pseudo content partial border below lead paragraphs */
// update to lead zesty so it's not on every lead
.lead:after {
        content: '';
        position: absolute;
        width: 30%;
        left: 2%;
        bottom: -20px;
        border-bottom: 5px solid $tu-gold;
    }
// Should be using rems
// move to _links.scss?
.footer-links {
  font-size: 88%;
  li { border-bottom: 1px dashed #454545; }
}
.footer-text {
  font-size: 88%;
}
footer {
  a:link, a:visited {
    color: #fcfcfc;
  }
  a:hover, a:active {
    color: #f7dc6f;
  }
}
.smaller-text-60 {
  font-size: 60%;
}
.smaller-text-85 {
  font-size: 85%;
}
.smaller-text-90 {
   @include breakpoint(medium) {font-size: 90%;}
}

// Semantic, but right-sized...
aside h3 {
  font-size: 1.25rem;
}

.subheader {
  color: lighten($tu-gold,20%);
}
